---
import Layout from '../layouts/Layout.astro';
import BaseCard from '../componentsSol/BaseCard.svelte';
import CardControls from '../componentsSol/CardControls.svelte';
import CardBalance from '../componentsSol/CardBalance.svelte';
import CardChart from '../componentsSol/CardChart.svelte';

// Datos simulados
const history = [10, 25, 40, 30, 55];
---

<Layout title="Mi Dashboard">
<main class="dashboard-grid">
        <!-- Area 1: Balance (Ocupa todo el ancho) -->
        <div class="area-balance">
            <CardBalance client:idle/>
        </div>

        <!-- Area 2: Gráfica -->
        <div class="area-chart">
             <!-- Importante client:load para que JS funcione -->
            <CardChart client:idle/>
        </div>
        <!-- Area 3: Controles -->
        <div class="area-controls">
            <CardControls client:idle/>
        </div>
    </main>
</Layout>

<style>
</style>